<!--Web Mid Term
Ryan Jameson
http://webmidterm.azurewebsites.net/
This holds the footer for the entire website
-->
<!-- Footer Partial -->
<!-- Javascript section -->
    <script src="Scripts/lib/jquery/dist/jquery.min.css"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
</html>
