<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
        <h1 align="center"><%= title %> </h1>
        <img src="images/gandalf.jpg">
        <h2>Gandalf the Grey</h2>
        <p></p>
        <img src="images/aragorn.jpg">
        <h3>Aragorn, King of Men</h3>
        <p></p>
        <img src="images/gimli.jpg">
        <h4>Gimli, Son of Gloin</h4>
        <p></p>
     </main>
<% include partials/footer.ejs %>